{% extends 'people/base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<form action="{% url 'add_page' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="form-error">{{ form.non_field_errors }}</div>


    {% for f in form %}
    <div style="margin-bottom: 10px;">
        <label class="form-label" for="{{ f.id_for_label }}" style="display: inline-block; width: 90px;">{{ f.label }}: </label>
        
        {{ f }}
        <div class="form-error">{{ f.errors }}</div>
    </div>
    {% endfor %}
    
    <button type="submit" style="margin-top: 20px;">Добавить</button>
</form>

{% endblock %}







