<!DOCTYPE html> <!-- Объявление типа документа: указывает, что это HTML5-документ -->
<html> <!-- Начало HTML-документа -->
<head> <!-- Заголовочная часть документа, здесь находятся мета-информации, стили и заголовок -->
    <title>{{title}}</title> <!-- Заголовок страницы. Используется Jinja2-шаблон, чтобы подставить значение переменной "title" -->
</head>
<body> <!-- Основная часть страницы (тело документа) -->
    {% block mainmenu %} <!-- Блок для основного меню, который может быть переопределен в других шаблонах -->
    <ul>
        {% for m in menu %} <!-- Цикл, который проходит по элементам списка "menu" и отображает каждый из них -->
    <li>{{m}}</li> <!-- Вывод каждого элемента меню в виде списка (li) -->
        {% endfor %} <!-- Конец цикла -->
    </ul>
    {% endblock mainmenu %} <!-- Конец блока меню -->

    {% block content %} <!-- Блок контента, который будет заполняться в других шаблонах -->
    {% endblock %} <!-- Конец блока контента -->
</body>
</html> <!-- Завершение HTML-документа -->