{% load static %}
{% load people_tags %}

<!DOCTYPE html>
<html>
<head>
    <!-- Заголовок страницы, устанавливаем через переменную title -->
    <title>{{title}}</title>
    
    <!-- Подключение CSS-файла -->
    <link type="text/css" href="{% static 'people/css/styles.css' %}" rel="stylesheet" />
    
    <!-- Установка кодировки -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <!-- Иконка для страницы -->
    <link rel="shortcut icon" href="{% static 'people/images/main.ico' %}" type="image/x-icon"/>
    
    <!-- Адаптация страницы для мобильных устройств -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border="0" cellpadding="0" cellspacing="0">
<tr>
    <td valign="top">

       
       
    <!-- Блок главного меню -->
    {% block mainmenu %}
        <div class="header">
            <ul id="mainmenu" class="mainmenu">
                <!-- Логотип -->
                <li class="logo"><a href="{% url "home" %}"><div class="logo"></div></a></li>
                
                {% for m in menu %}
	                {% if not forloop.last %}
			            <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
	                {% else %}
			            <li class="last"><a href="{% url m.url_name %}">{{m.title}}</a></li>
	                {% endif %}
                {% endfor %}
            
            </ul>
            <div class="clear"></div>
        </div>
    {% endblock mainmenu %}
    
    <table class="table-content" border="0" cellpadding="0" cellspacing="0">
    <tr>
    
    <!-- Боковая панель (слева) с категориями -->
    <td valign="top" class="left-chapters">
        <!--  {% getcats as categories %} --> <!--Пользовательский тег "simple_tag"-->

        <ul id="leftchapters">
            {% if cat_selected == 0 %}
            <li class="selected">Все категории</li>
        {% else %}
            <li><a href="{% url 'home' %}">Все категории</a></li>
        {% endif %}
        

        {% for c in cats %}
            {% if c.people__count > 0 %} <!-- Если нет постов в данной категории то не выводим ее -->
                {% if c.pk == cat_selected %}
                    <li class="selected">{{c.name}}</li>
                {% else %}
                    <li><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}

            <li class="share">
                <!-- Информация о канале YouTube -->
                <p>Канал где проходили курсы.</p>
                <a class="share-yt" href="https://www.youtube.com/channel/UClJzWfGWuGJL2t-3dYKcHTA/playlists" target="_blank" rel="nofollow"></a>
            </li>
        </ul>
    </td>
    
    <!-- Основной контент страницы -->
    <td valign="top" class="content">
        <!-- Хлебные крошки (навигация) -->
        {% block breadcrumbs %}
        {% endblock %}
        
        <!-- Блок основного текста -->
        <div class="content-text">
            {% block content %}
            {% endblock %}
        </div>
    </td>
    
    </tr></table>
    </td>
</tr>

<!-- Нижний колонтитул (footer) -->
<tr>
    <td valign="top">
        <div id="footer">
            <p>&copy; 2021 Частичное или полное копирование информации с данного сайта для распространения на других ресурсах, в том числе и бумажных, строго запрещено.</p>
        </div>
    </td>
</tr>
</table>
</body>
</html>
