{% extends 'people/base.html' %}

{% block content %}
<ul class="list-articles">
    {% for p in posts %}
        <li>
            <div class="article-panel">
                <!-- Отображение категории текущей статьи -->
                <p class="first">Категория: {{ p.cat }}</p>
                <!-- Отображение даты последнего обновления статьи -->
                <p class="last">Дата: {{ p.time_update|date:"d-m-Y H:i:s" }}</p>
            </div>
            <!-- Добавляет фото в пост -->
            {% if p.photo %}
                <p><img class='img-article-left thumb' src='{{ p.photo.url }}'></p>
            {% endif %}
            <!-- Заголовок статьи -->
            <h2>{{ p.title }}</h2>

            {% autoescape on %}
            <!-- Вывод содержимого поста -->
            {{ p.content|linebreaks|truncatewords:50 }}
            {% endautoescape %}

            <div class="clear"></div>

            <!-- Ссылка для перехода на полный текст поста -->
            <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
        </li>
    {% endfor %}
</ul>
{% endblock %}
