{% extends 'people/base.html' %}
<!-- Расширяем (наследуем) базовый шаблон "base.html", который находится в папке "people". -->

{% block content %}
<!-- Начинаем блок "content", который будет заменять или дополнять контент в родительском шаблоне. -->

<ul class="list-articles">
<!-- Открываем список с классом "list-articles", который может использоваться для стилизации списка. -->

	{% for p in posts %}
	<!-- Запускаем цикл for, который перебирает все объекты в переменной "posts". Каждый объект будет доступен под именем "p". -->

			<li><h2>{{p.title}}</h2>
			<!-- Создаём элемент списка (li) и выводим заголовок поста "title" в теге заголовка h2. -->

	{% autoescape on %}
	<!-- Включаем автоэкранирование HTML, чтобы защититься от инъекций, автоматически преобразуя специальные символы в HTML-сущности. -->

	{{p.content|linebreaks|truncatewords:50}}
	<!-- Выводим содержимое поста "content", фильтруя его через два фильтра:
	1. "linebreaks" — преобразует новые строки в HTML-теги <br>.
	2. "truncatewords:50" — обрезает текст до 50 слов. -->

	{% endautoescape %}
	<!-- Закрываем блок автоэкранирования. -->

			<div class="clear"></div>
			<!-- Добавляем пустой блок "clear", который может использоваться для сброса обтекания (float) элементов. -->

			<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
			<!-- Добавляем ссылку для перехода на полный текст поста. В атрибуте href пока указано "#", но здесь может быть URL поста. -->

			</li>
			<!-- Закрываем элемент списка (li). -->

	{% endfor %}
	<!-- Закрываем цикл for, который перебирает все посты. -->

</ul>
<!-- Закрываем элемент списка (ul). -->

{% endblock %}
<!-- Закрываем блок "content". Этот блок завершает замену или дополнение контента в родительском шаблоне. -->
