{% extends "people/base.html" %} <!-- Расширение шаблона "base.html", который находится в папке "women" -->

{% block content %} <!-- Определение блока контента, который будет вставлен в родительский шаблон -->
<h1>{{title}}</h1> <!-- Заголовок страницы, подставляется динамически с использованием переменной "title" -->
<ul>
    {% for p in posts %} <!-- Цикл, который проходит по элементам "posts" -->
    <li>
        <h2>{{p.title}}</h2> <!-- Отображение заголовка каждого поста -->
        <p>{{p.content}}</p> <!-- Отображение содержимого каждого поста -->
        <hr> <!-- Разделительная линия -->
    </li>
    {% endfor %} <!-- Конец цикла -->
</ul>
{% endblock %} <!-- Конец блока контента -->
